<div ng-controller="HomeController as demoApp">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bank portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--<ul class="nav navbar-nav">
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Manage" title="Manage"><b>Signed in as: </b><i>{{username}}</i></a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="demoApp.logout()">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="result"></div>
    <div class="container">
        <form class="form-inline">
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="Amount" class="control-label">Amount (Int):</label>
                        <input type="text" ng-model="amount" class="form-control" id="amount">
                    </div>
                    <button ng-click="demoApp.doEscrowTX()" type="button" class="btn btn-primary navbar-btn">Escrow Transact</button>
                    <button type="button" class="btn btn-success">Available Bank Balance: <span class="badge">$ {{demoApp.balance}}</span></button>
                </div>

                <div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label">Create Default Data:</label>
                    </div>
                    <button ng-click="demoApp.createDefaultData()" type="button" class="btn btn-primary navbar-btn">Create</button>
                </div>

                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="Amount" class="control-label">Amount (Int):</label>
                        <input type="text" ng-model="svcamount" class="form-control" id="svcamount">
                    </div>
                    <button ng-click="demoApp.doServicingTX()" type="button" class="btn btn-primary navbar-btn">Servicing Transact</button>
                    <button type="button" class="btn btn-success">Available Servicing Balance: <span class="badge">$ {{demoApp.balance}}</span></button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Escrow Transactions</div>
                    <div class="panel-body">
                        <div class="grid grid-pad">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Investor</th>
                                        <th>ParcelID</th>
                                        <th>Tax</th>
                                        <th>Insurance</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="escr in demoApp.myescrows">
                                        <td>
                                            {{escr.investorParty}}
                                        </td>
                                        <td>
                                            {{escr.parcelId}}
                                        </td>
                                        <td>
                                            {{escr.taxValue}}
                                        </td>
                                        <td>
                                            {{escr.insuranceValue}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Transactions</div>
                    <div class="panel-body">
                        <div class="grid grid-pad">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Hash</th>
                                        <th>Inputs</th>
                                        <th>Outputs</th>
                                        <th>Signers</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tran in demoApp.trans">
                                        <td>
                                            {{tran.hash}}
                                        </td>
                                        <td>
                                            <table>
                                                <tr ng-repeat="ip in tran.inputs track by $index">
                                                    <td>{{ip}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tr ng-repeat="op in tran.outputs track by $index">
                                                    <td>{{op}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tr ng-repeat="sig in tran.signers">
                                                    <td>{{sig}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>