<div ng-controller="LoginController as demoApp">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="/"><h4>Bank Portal</h4>    </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <div class="col-md-6 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h4>Bank Login</h4></div>
                <div class="panel-body">
                    <div class="col-md-6 col-md-offset-4">
                        <form name="form" role="form">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control" ng-model="demoApp.username" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" ng-model="demoApp.password" required />
                            </div>
                            <div class="form-actions">
                                <button ng-click="demoApp.login()" type="button" class="btn btn-primary navbar-btn">Login</button>
                                <span class="text-danger">{{ error }}</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

